header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  padding: 2rem $padding-layout;

  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    gap: 1rem;
  }
}
