* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $default-ff;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-ff;
  margin: 0 0 2rem 0;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  position: relative;
  width: 100%;
  z-index: 1;
}
